<h1>List of all Movie reviews</h1>

<% if @movies.count > 0 %>
    <% @movies.each do |movie| %>
        <%= movie.title %> Directed by <%= movie.director %> <%= movie.rating %>
        <br/>
    <% end %>
<% else %>
        <p>No movies reviewed.</p>
<% end %>
    
    
