<form action="/create" method="post">
    Movie title: <input type="text" name=title><br/>
    Movie director: <input type="text" name=director><br/>
    Movie rating: (Enter x, where x is a score out of 10): <input type="text" name=rating>
    <input type="submit" />
</form>

<!-- wrote this based on the contacts repository Fabio posted -->
