<form action="/create" method="post">
    Movie title: <input type="text" name="movie_title"><br/>
    Movie director: <input type="text" name="movie_director"><br/>
    Movie rating (x out of 10): <input type="text" name="movie_rating">
    <input type="submit" />
</form>

<!-- wrote this based on the contacts repository Fabio posted -->
