<form action="/create" method="post">
<table border="1">
    <tr>
        <td></td>
        <td>Enter Value</td>
    </tr>
    <tr>
        <td>Movie title:</td>
        <td><input type="text" name=title></td>
    </tr>
    <tr>
        <td>Movie director:</td>
        <td><input type="text" name=director></td>
    </tr>
    <tr>
        <td>Movie rating: (out of 10):</td>
        <td><input type="text" name=rating></td>
    </tr>
    <input type="submit" />
</form>

<!-- wrote this based on the contacts repository Fabio posted -->
